.weather-wrapper {
    display: flex;
    justify-content: center;
    .weather-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 70px;
        background: linear-gradient(to right, #add8e6, #ffffff);
        border-radius: 15px;
        gap: 50px;
        font-size: large;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        form {
            display: flex;
            align-items: center;
            gap: 15px;
            input {
                width: 200px;
                padding: 7px;
                border: 1px solid #3498db;
                border-radius: 15px;
                background-color: #ecf0f1;
                transition: all 0.3s ease;

                &:hover,
                &:focus {
                    border-color: #2980b9;
                    background-color: #dfe6e9;
                }
            }
            button {
                padding: 7px;
                border-radius: 15px;
                border: none;
                background: linear-gradient(to right, #3498db, #2c3e50); /* Gradient background */
                color: #ffffff; /* Text color */
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: linear-gradient(to right, #2980b9, #34495e); /* Change gradient on hover */
                }
            }
        }
        .weather-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .image-div {
                display: flex;
                gap: 15px;
                align-items: center;
            }
        }
    }
}